<p id="notice"><%= notice %></p>

<h1>Listing Topics</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>Title</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= button_to '+1', upvote_topic_path(topic), method: :post %></td>
        <td><%= pluralize(topic.votes.count, "Vote") %></td>
        <td><%= button_to '-1', downvote_topic_path(topic), method: :post %></td>
        <td><%= link_to topic.title, topic %></td>
        <th></th>
        <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>

</table>
<br>

<%= link_to 'New Topic', new_topic_path %>


<br>



# <ul class="pagination">
# <li><a href="#">&laquo;</a></li>
# <li><a href="#">1</a></li>
# <li><a href="#">2</a></li>
# <li><a href="#">3</a></li>
# <li><a href="#">4</a></li>
# <li><a href="#">5</a></li>
# <li><a href="#">&raquo;</a></li>
