<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= link_to @topic.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @topic.description %>
</p>



    <span class="timestamp">
        Posted <%= time_ago_in_words(@topic.created_at) %> ago.
    </span>



<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
